<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pic 'n' roll</title>
    <link rel="stylesheet" href="./style.css" />
    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script src="https://cdn.jsdelivr.net/npm/throttle-debounce@3.0.1/umd/index.js"></script>
  </head>
  <body>
    <div id="root">
      <div id="app">
        <div id="side-column" class="column">
          <ul id="history" class="fill">
            <template v-for="h in history" :key="h">
              <li @click="show(h.id)" v-if="images[h.id].ready">
                <img
                  :src="images[h.id].objectUrl"
                  v-show="h.loaded"
                  v-if="images[h.id].ready"
                  @load="h.loaded = true"
                />
                <div class="loading lds-dual-ring" v-if="!h.loaded"></div>
                <div class="image-filename">{{images[h.id].name}}</div>
              </li>
            </template>
          </ul>
        </div>
        <div
          class="column fill"
          :class="[{'ready-to-pick': candidatesCount >= 1}]"
          id="image-preview"
          v-on="candidatesCount >= 1 ? {click: roll} : {}"
        >
          <template v-if="shownImage">
            <div
              id="image-container"
              v-show="shownImageId === lastImageLoaded || loadingTakingTime"
            >
              <img
                :src="shownImage.objectUrl"
                v-if="shownImage.ready"
                v-show="shownImageId === lastImageLoaded"
                @load="lastImageLoaded = shownImageId"
              />
              <div
                class="loading lds-dual-ring"
                v-if="shownImageId !== lastImageLoaded"
              ></div>
            </div>
            <template v-if="userActive">
              <div id="image-summary" v-show="shownImageId === lastImageLoaded">
                <div class="image-filename">{{shownImage.name}}</div>
                <div class="image-location">{{shownImage.path}}</div>
              </div>
            </template>
          </template>
          <template v-else-if="candidatesCount === 0">
            <p class="emoji-text">📁</p>
            <p>Drag directories here.</p>
            <p class="error" v-if="itemsDropped">
              Some entries have been dropped, but no image files found inside
              any of them.
            </p>
          </template>
          <template v-else>
            <p>
              {{candidatesCount}} image {{candidatesCount >= 2 ? "files": "file"
              }} found.
            </p>
            <p class="emoji-text" id="die-icon">🎲</p>
            <p>Ready to Pic 'n' Roll!</p>
            <p>Click the right column to pick an image randomly.</p>
          </template>
        </div>
        <div id="overlay" v-if="dragHovering || loadingDroppedItem">
          <p v-if="dragHovering">Ready to Drop!</p>
          <div v-if="loadingDroppedItem">
            <div class="loading lds-dual-ring"></div>
            <p>Searching for image files...</p>
          </div>
        </div>
      </div>
    </div>
    <script src="./code.js"></script>
  </body>
</html>
