<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pic 'n' roll</title>
    <link rel="stylesheet" href="./style.css" />
    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script src="https://cdn.jsdelivr.net/npm/throttle-debounce@3.0.1/umd/index.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dragscroll/0.0.8/dragscroll.min.js"
      integrity="sha512-/ncZdOhQm5pgj5KHy720Ck7XF5RzYK6rtUsLNnGcitXrKT3wUYzTrPlOSG7SdL2kDzkuLEOFvrQRyllcZkeAlg=="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="root">
      <div id="app" v-on:dragstart.prevent @mouseleave="userActive=false">
        <div id="side-column">
          <ul id="history" class="fill">
            <template v-for="(h, i) in history" :key="h">
              <li
                @click="showFromHistory(i)"
                v-if="images[h.id].readyToLoad"
                v-bind:class="{shown: historyIndex === i}"
              >
                <img
                  :src="images[h.id].objectUrl"
                  v-show="h.loaded"
                  @load="h.loaded = true"
                />
                <div class="loading lds-dual-ring" v-if="!h.loaded"></div>
                <div class="image-filename">{{images[h.id].name}}</div>
              </li>
            </template>
          </ul>
        </div>
        <div class="fill" id="main-column">
          <div
            id="image-viewer-screen"
            v-bind:style="{visibility: shownImage ? 'visible' : 'hidden'}"
            @wheel.capture.prevent="handleWheelOnImage"
            ref="imageViewerScreen"
            @mousedown="moveImageStart"
            @mousemove="moveImageUpdate"
            @mouseup="moveImageEnd"
            @mouseleave="moveImageEnd"
          >
            <template
              v-if="shownImage"
              v-show="shownImageLoaded || loadingTakingTime"
            >
              <img
                :src="shownImage.objectUrl"
                v-if="shownImage.readyToLoad"
                v-show="shownImageLoaded"
                @load="lastImageLoaded = shownImageId"
                v-bind:style="imageTransform"
                id="picked-image"
              />
              <div class="loading lds-dual-ring" v-if="!shownImageLoaded"></div>
            </template>
            <template v-if="shownImage && controlsShown">
              <div id="image-summary" v-show="shownImageLoaded">
                <div class="image-filename">{{shownImage.name}}</div>
                <div class="image-location">{{shownImage.path}}</div>
              </div>
              <div class="image-switchers left">
                <button
                  id="prev-image-button"
                  v-if="history.length >= 2"
                  @mousedown.stop
                  @click="showFromHistory(this.historyIndex + 1)"
                  v-bind:disabled="!prevHistoryAvailable"
                >
                  <div class="icon">⏮</div>
                  <div class="label">Back</div>
                </button>
              </div>
              <div class="image-switchers right">
                <button id="roll-button" @mousedown.stop @click="roll">
                  <div class="icon">🎲</div>
                  <div class="label">Roll!</div>
                </button>
                <button
                  id="next-image-button"
                  v-if="historyIndex > 0"
                  @mousedown.stop
                  @click="showFromHistory(this.historyIndex - 1)"
                >
                  <div class="icon">⏭</div>
                  <div class="label">Next</div>
                </button>
              </div>
            </template>
          </div>
          <div id="standby-screen" v-if="!shownImage">
            <p class="emoji-text">📁</p>
            <p>Drag directories here.</p>
            <p class="error" v-if="itemsDropped">
              Some entries have been dropped, but no image files found inside
              any of them.
            </p>
          </div>
        </div>
        <div id="overlay" v-if="dragHovering || loadingDroppedItem">
          <p v-if="dragHovering">Ready to Drop!</p>
          <div v-if="loadingDroppedItem">
            <div class="loading lds-dual-ring"></div>
            <p>Searching for image files...</p>
          </div>
        </div>
      </div>
    </div>
    <script src="./code.js"></script>
  </body>
</html>
